@model OnlineExam.DbContext.StudentAllDetailsByRegId_Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentAllDetailsByRegId_Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamAttendingYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamAttendingYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionTestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionTestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhatsappNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatsappNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Community)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationalty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickWhatsApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickWhatsApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PgmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PgmId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubPgmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubPgmId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegId1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegId1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrOcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrOcc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrMobNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrMobNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrMailid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrMailid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrWhatsapp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrWhatsapp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrOcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrOcc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrMobNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrMobNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrMailid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrMailid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MrWhatsapp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MrWhatsapp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegId2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegId2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressHome1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressHome1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressHome2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressHome2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PincodeHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PincodeHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickHomeContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickHomeContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmaiIdHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmaiIdHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickHomeWhatsapp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickHomeWhatsapp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
