@model IEnumerable<OnlineExam.DbContext.StudentAllDetailsByRegId_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamAttendingYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionTestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhatsappNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Community)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickWhatsApp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PgmId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubPgmId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegId1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrOcc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrMobNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrMailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrWhatsapp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrOcc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrMobNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrMailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MrWhatsapp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegId2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressHome1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressHome2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PincodeHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickHomeContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmaiIdHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickHomeWhatsapp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamAttendingYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionTestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhatsappNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Community)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuickContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuickWhatsApp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PgmId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubPgmId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegId1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrOcc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrMobNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrMailid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrDistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrWhatsapp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrOcc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrMobNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrMailid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrDistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MrWhatsapp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegId2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressHome1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressHome2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PincodeHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuickHomeContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmaiIdHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuickHomeWhatsapp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
